/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Feb-2021, 16:46:02
    Author     : melitafreiberga
*/
body{background-color:powderblue;}
h1{color:green;}
p{color:yellow; font-size:150%}
td{color:purple;}
